fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
pgvector
pymupdf
easyocr
camelot-py[cv]
ultralytics
transformers
torch
torchvision
opencv-python-headless
huggingface_hub
openai
google-generativeai
google-genai
langchain
langchain-text-splitters
nest-asyncio
langchain-core
python-multipart
python-dotenv
cloudinary
Pillow
matplotlib
pytest
requests
sentence-transformers
scipy
pypdf
numpy
scikit-learn
pandas
